In [100]:
import pandas as pd
import requests
import json
from io import StringIO
from unidecode import unidecode 
import pickle

In [2]:
wapi = "https://en.wikipedia.org/w/api.php?action=query&list=allpages&aplimit=500&apnamespace=0&format=json&apfilterredir=nonredirects&apfrom="

In [4]:
titles =[]
start = ''
z = 0
while True:
    url = wapi + start
    #print(url)
    r = requests.get(url)
    d = json.load(StringIO(r.text))
    ttl = [d['query']['allpages'][i]['title'] for i in range(len(d['query']['allpages']) )]
    titles.extend(ttl[:-1])
    start=ttl[-1]
    if (len(ttl)<500):
        break
    z = z + 1
    if (z % 500 == 0):
        print('iter:%d , titles so far:%d'%(z,len(titles)) )

iter:500 , titles so far:249500
iter:1000 , titles so far:499000
iter:1500 , titles so far:748500
iter:2000 , titles so far:998000
iter:2500 , titles so far:1247500
iter:3000 , titles so far:1497000
iter:3500 , titles so far:1746500
iter:4000 , titles so far:1996000
iter:4500 , titles so far:2245500
iter:5000 , titles so far:2495000
iter:5500 , titles so far:2744500
iter:6000 , titles so far:2994000
iter:6500 , titles so far:3243500
iter:7000 , titles so far:3493000
iter:7500 , titles so far:3742500
iter:8000 , titles so far:3992000
iter:8500 , titles so far:4241500
iter:9000 , titles so far:4491000
iter:9500 , titles so far:4740500
iter:10000 , titles so far:4990000

In [5]:
len(titles)

5201186

In [18]:
clean_titles = [unidecode(ttl) for ttl in titles]

In [73]:
disambig = ['(disambiguation)' in t  for t in titles]

In [74]:
Data = pd.DataFrame(list(zip(titles, clean_titles,disambig)),\
                    columns = ['title', 'clean_title','disambig'])

Data.tail(10)

                        title                  clean_title disambig
5201176                    高雄                   Gao Xiong     False
5201177    鬼 (disambiguation)        Gui  (disambiguation)     True
5201178                     魁                         Kui     False
5201179                     鲁                          Lu     False
5201180                    黑山                    Hei Shan     False
5201181                     Ꞷ                                 False
5201182                     김                          gim    False
5201183  김세영 (disambiguation)  gimseyeong (disambiguation)     True
5201184                   박정훈                  bagjeonghun    False
5201185                     약                          yag    False

In [95]:
print('number of disambiguation titles: %d (%3.3f%% of all)'% (Data.disambig.sum(), 100*Data.disambig.sum()/len(Data)))

number of disambiguation titles: 45582 (0.876% of all)

In [103]:
# for size reasons, I am only saving the titles
f = open('en_wikipedia_titles.pkl','wb')
pickle.dump(titles, f)
f.close()